# This is a requirements file for the Collections Data Analysis Project.

# Data analysis and visualization libraries
pandas==1.3.3
numpy==1.21.2
matplotlib==3.4.3
seaborn==0.11.2

# Data generation library
Faker==9.4.2
